@import url(https://fonts.googleapis.com/css2?family=Open+Sans&family=Outfit:wght@500;700&display=swap);

:root {
	--blue-primary: #31c3bd;
	--blue-secondary: #65e9e4;
	--blue-shadow: #118c87;
	--yellow-primary: #f2b137;
	--yellow-secondary: #ffc860;
	--yellow-shadow: #cc8b13;
	--dark-primary: #1a2a33;
	--dark-secondary: #1f3641;
	--dark-shadow: #10212a;
	--light-primary: #a8bfc9;
	--light-primary-hover: rgba(168, 191, 201, 0.05);
	--light-secondary: #dbe8ed;
	--light-shadow: #6b8997;
}

/* Mobile */

@media screen and (max-width: 767px) {
	.game-container {
		width: 327px;
	}

	.btn-new-game {
		height: 56px;
	}

	.btn-yellow {
		margin-bottom: 16px;
	}

	.player-picker {
		margin: 32px 0;
	}

	.grid-item {
		height: 96px;
		width: 96px;
	}

	.grid-item svg {
		width: 40px;
		height: 40px;
	}

	.grid-container {
		margin: 64px 0 20px;
	}

	.score {
		height: 64px;
		width: 96px;
	}

	.score p {
		font-size: 12px;
	}

	.score h2 {
		font-size: 20px;
	}

	.game-top-wrapper {
		height: 40px;
	}

	.reset-btn {
		width: 40px;
	}

	.reset-btn svg {
		height: 16px;
		width: 16px;
	}

	.turn-tracker {
		width: 96px;
		border-radius: 5px;
	}

	.turn-tracker svg {
		width: 16px;
		height: 16px;
	}

	.turn-tracker-text {
		margin-left: 9px;
		font-size: 14px;
		letter-spacing: 0.88px;
		font-weight: 700;
	}
}

/* Tablet and Desktop */

@media screen and (min-width: 768px) {
	.game-container {
		width: 460px;
	}

	.btn-new-game {
		height: 67px;
	}

	.btn-yellow {
		margin-bottom: 20px;
	}

	.player-picker {
		margin: 40px 0;
	}

	.grid-item {
		height: 140px;
		width: 140px;
	}

	.grid-container {
		margin: 19px 0;
	}

	.score {
		height: 72px;
		width: 140px;
	}

	.game-top-wrapper {
		height: 52px;
	}

	.reset-btn {
		width: 52px;
	}

	.turn-tracker {
		width: 140px;
		border-radius: 10px;
	}

	.turn-tracker svg {
		width: 20px;
		height: 20px;
	}

	.turn-tracker-text {
		margin-left: 13px;
		font-size: 1rem;
		letter-spacing: 1px;
		font-weight: 700;
	}
}

/* All pages */

* {
	box-sizing: border-box;
	font-family: 'Outfit', sans-serif;
	padding: 0px;
	margin: 0px;
	border: 0px;
}

body {
	background-color: var(--dark-primary);
}

main {
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

.max-width {
	width: 100%;
}

.heading-L {
	font-size: 2.5rem;
	letter-spacing: 2.5px;
	font-weight: 700;
}
.heading-M {
	font-size: 1.5rem;
	letter-spacing: 1.5px;
	font-weight: 700;
}
.heading-S {
	font-size: 1.25rem;
	letter-spacing: 1.25px;
	font-weight: 700;
}
.heading-XS {
	font-size: 1rem;
	letter-spacing: 1px;
	font-weight: 700;
}
.body {
	font-size: 0.875rem;
	letter-spacing: 0.8px;
	font-weight: 500;
}

.game-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* New Game Menu Page */

.btn-blue {
	background-color: var(--blue-primary);
	box-shadow: inset 0px -0.5rem var(--blue-shadow);
}
.btn-blue:hover {
	background-color: var(--blue-secondary);
	box-shadow: inset 0px -0.5rem var(--blue-shadow);
}
.btn-yellow {
	background-color: var(--yellow-primary);
	box-shadow: inset 0px -0.5rem var(--yellow-shadow);
}
.btn-yellow:hover {
	background-color: var(--yellow-secondary);
	box-shadow: inset 0px -0.5rem var(--yellow-shadow);
}

.player-picker {
	height: 205px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--dark-secondary);
	box-shadow: inset 0 -8px var(--dark-shadow);
	border-radius: 15px;
}

.player-picker h4 {
	margin: 24px 0;
	color: var(--light-primary);
}

.player-picker p {
	margin-top: 17px;
	color: var(--light-primary);
	opacity: 0.5;
}

.player-picker-btn-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 9px 8px;
	width: calc(100% - 48px);
	height: 72px;
	background-color: var(--dark-primary);
	border-radius: 15px;
}

.player-picker-x {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50%;
	height: 100%;
	border-radius: 15px;
}

.player-picker-o {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50%;
	height: 100%;
	border-radius: 15px;
}

#mark-selected {
	background-color: var(--light-primary);
}
.mark-selected path {
	fill: var(--dark-primary);
}
#mark-not-selected {
	background-color: var(--dark-primary);
}
#mark-not-selected:hover {
	background-color: var(--light-primary-hover);
	cursor: pointer;
}
.mark-not-selected path {
	fill: var(--light-primary);
}

.btn-new-game {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 15px;
	cursor: pointer;
	color: var(--dark-primary);
}

.btn-new-game h3 {
	transform: translateY(-0.25rem);
}

/* Game Page */

.game-top-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.turn-tracker {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	color: var(--light-primary);
	background-color: var(--dark-secondary);
	box-shadow: inset 0px -0.25rem var(--dark-shadow);
	padding-bottom: 0.125rem;
}

.turn-tracker path {
	fill: var(--light-primary);
}

.turn-tracker-text {
	cursor: default;
	user-select: none;
}

.reset-btn {
	cursor: pointer;
	height: 100%;
	background-color: var(--light-primary);
	border-radius: 10px;
	box-shadow: inset 0px -0.25rem var(--light-shadow);
}

.reset-btn:hover {
	background-color: var(--light-secondary);
}

.grid-container {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-template-rows: auto auto auto;
	gap: 20px;
}

.grid-item {
	user-select: none;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 15px;
	padding-bottom: 0.25rem;
	cursor: pointer;
}

.non-highlighted {
	background-color: var(--dark-secondary);
	box-shadow: inset 0px -0.5rem var(--dark-shadow);
}

.highlighted-x {
	background-color: var(--blue-secondary);
	box-shadow: inset 0px -0.5rem var(--blue-shadow);
}

.highlighted-o {
	background-color: var(--yellow-secondary);
	box-shadow: inset 0px -0.5rem var(--yellow-shadow);
}

.scores-container {
	width: 100%;
	display: grid;
	gap: 20px;
	grid-template-columns: auto auto auto;
}

.score {
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 15px;
	padding-top: 13px;
}

.score:nth-child(1) {
	background-color: var(--blue-primary);
}
.score:nth-child(2) {
	background-color: var(--light-primary);
}
.score:nth-child(3) {
	background-color: var(--yellow-primary);
}

/* Banner */

.banner-container {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 50%);
}

.banner-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 266px;
	background-color: var(--dark-secondary);
}

.banner {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.banner-win-loss-text {
	color: var(--light-primary);
	margin-bottom: 16px;
}

.banner-title-text-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.text-blue {
	color: var(--blue-primary);
}
.text-yellow {
	color: var(--yellow-primary);
}
.text-grey {
	color: var(--light-primary);
	margin-bottom: 7px;
}

.banner-btns div {
	height: 52px;
	display: flex;
	margin-top: 24px;
}

.banner-btns div button {
	margin: 0 0.5rem;
	padding: 0 16px 0.125rem;
	height: 100%;
	border-radius: 10px;
	display: flex;
	align-items: center;
}

.banner-btn-grey {
	background-color: var(--light-primary);
	box-shadow: inset 0px -0.25rem var(--light-shadow);
	color: var(--dark-primary);
}

.banner-btn-grey:hover {
	cursor: pointer;
	background-color: var(--light-secondary);
}

.banner-btn-yellow {
	background-color: var(--yellow-primary);
	box-shadow: inset 0px -0.25rem var(--yellow-shadow);
	color: var(--dark-primary);
}

.banner-btn-yellow:hover {
	cursor: pointer;
	background-color: var(--yellow-secondary);
}

.color-dark path {
	fill: var(--dark-primary);
}
