@import url(https://fonts.googleapis.com/css2?family=Open+Sans&family=Outfit:wght@500;700&display=swap);

:root {
	--blue-primary: #31c3bd;
	--blue-secondary: #65e9e4;
	--blue-shadow: #118c87;
	--yellow-primary: #f2b137;
	--yellow-secondary: #ffc860;
	--yellow-shadow: #cc8b13;
	--dark-primary: #1a2a33;
	--dark-secondary: #1f3641;
	--dark-shadow: #10212a;
	--light-primary: #a8bfc9;
	--light-primary-hover: #a8bfc90d;
	--light-secondary: #dbe8ed;
	--light-shadow: #6b8997;
}

/* Mobile */

@media screen and (max-width: 767px) {
	.game-container {
		width: 327px;
	}

	.btn-new-game {
		height: 56px;
		margin-bottom: 16px;
	}

	.player-picker {
		margin: 32px 0;
	}

	.grid-item {
		height: 96px;
		width: 96px;
	}

	.grid-item svg {
		width: 40px;
		height: 40px;
	}

	.grid-container {
		margin: 64px 0 20px;
	}

	.score {
		height: 64px;
		width: 96px;
	}

	.score p {
		font-size: 12px;
	}

	.score h2 {
		font-size: 20px;
	}

	.game-top-wrapper {
		height: 40px;
	}

	.reset-btn {
		width: 40px;
	}

	.reset-btn svg {
		height: 16px;
		width: 16px;
	}

	.turn-tracker {
		width: 96px;
		border-radius: 5px;
	}

	.turn-tracker svg {
		width: 16px;
		height: 16px;
	}

	.turn-tracker-text {
		margin-left: 9px;
		font-size: 14px;
		letter-spacing: 0.88px;
		font-weight: 700;
	}
}

/* Tablet and Desktop */

@media screen and (min-width: 768px) {
	.game-container {
		width: 460px;
	}

	.btn-new-game {
		height: 67px;
		margin-bottom: 20px;
	}

	.player-picker {
		margin: 40px 0;
	}

	.grid-item {
		height: 140px;
		width: 140px;
	}

	.grid-container {
		margin: 19px 0;
	}

	.score {
		height: 72px;
		width: 140px;
	}

	.game-top-wrapper {
		height: 52px;
	}

	.reset-btn {
		width: 52px;
	}

	.turn-tracker {
		width: 140px;
		border-radius: 10px;
	}

	.turn-tracker svg {
		width: 20px;
		height: 20px;
	}

	.turn-tracker-text {
		margin-left: 13px;
		font-size: 1rem;
		letter-spacing: 1px;
		font-weight: 700;
	}
}

/* All pages */

* {
	box-sizing: border-box;
	font-family: 'Outfit', sans-serif;
	padding: 0px;
	margin: 0px;
	border: 0px;
}

body {
	background-color: var(--dark-primary);
}

main {
	height: 100vh;
	width: 100vw;
}

/* Utils */

.flex {
	display: flex;
	align-items: center;
	justify-content: center;
}
.flex-column {
	flex-direction: column;
}

.w-max {
	width: 100%;
}
.h-max {
	height: 100%;
}

.pb-L {
	padding-bottom: 0.25rem;
}
.pb-M {
	padding-bottom: 0.125rem;
}

.pointer:hover {
	cursor: pointer;
}

h1 {
	font-size: 2.5rem;
	letter-spacing: 2.5px;
	font-weight: 700;
}
h2 {
	font-size: 1.5rem;
	letter-spacing: 1.5px;
	font-weight: 700;
}
h3 {
	font-size: 1.25rem;
	letter-spacing: 1.25px;
	font-weight: 700;
}
h4 {
	font-size: 1rem;
	letter-spacing: 1px;
	font-weight: 700;
}
p {
	font-size: 0.875rem;
	letter-spacing: 0.8px;
	font-weight: 500;
}

.bg-blue {
	background-color: var(--blue-primary);
}
.bg-blue-highlight {
	background-color: var(--blue-secondary);
}
.bg-blue-hover:hover {
	background-color: var(--blue-secondary);
}
.bg-yellow {
	background-color: var(--yellow-primary);
}
.bg-yellow-highlight {
	background-color: var(--yellow-secondary);
}
.bg-yellow-hover:hover {
	background-color: var(--yellow-secondary);
}
.bg-light {
	background-color: var(--light-primary);
}
.bg-light-highlight {
	background-color: var(--light-secondary);
}
.bg-light-hover:hover {
	background-color: var(--light-secondary);
}
.bg-dark {
	background-color: var(--dark-primary);
}
.bg-dark-highlight {
	background-color: var(--dark-secondary);
}
.bg-mark-not-selected:hover {
	background-color: var(--light-primary-hover);
}

.fill-dark path {
	fill: var(--dark-primary);
}
.fill-light path {
	fill: var(--light-primary);
}

.text-blue {
	color: var(--blue-primary);
}
.text-yellow {
	color: var(--yellow-primary);
}
.text-light {
	color: var(--light-primary);
}
.text-dark {
	color: var(--dark-primary);
}

.bs-blue-L {
	box-shadow: inset 0px -0.5rem var(--blue-shadow);
}
.bs-yellow-L {
	box-shadow: inset 0px -0.5rem var(--yellow-shadow);
}
.bs-dark-L {
	box-shadow: inset 0 -0.5rem var(--dark-shadow);
}

.bs-blue-M {
	box-shadow: inset 0px -0.25rem var(--blue-shadow);
}
.bs-yellow-M {
	box-shadow: inset 0px -0.25rem var(--yellow-shadow);
}
.bs-light-M {
	box-shadow: inset 0px -0.25rem var(--light-shadow);
}

.br-L {
	border-radius: 15px;
}
.br-M {
	border-radius: 10px;
}
.br-S {
	border-radius: 5px;
}

/* New Game Menu Page */

.player-picker {
	height: 205px;
	justify-content: flex-start;
}

.player-picker h4 {
	margin: 24px 0;
}

.player-picker p {
	margin-top: 17px;
	opacity: 0.5;
}

.player-picker-btn-wrapper {
	padding: 9px 8px;
	width: calc(100% - 48px);
	height: 72px;
}

.player-picker-x,
.player-picker-o {
	width: 50%;
}

/* Game Page */

.game-top-wrapper {
	justify-content: space-between;
}

.turn-tracker-text {
	cursor: default;
	user-select: none;
}

.grid-container {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-template-rows: auto auto auto;
	gap: 20px;
}

.grid-item {
	user-select: none;
}

.scores-container {
	display: grid;
	gap: 20px;
	grid-template-columns: auto auto auto;
}

.score {
	justify-content: flex-start;
	padding-top: 13px;
}

.score:nth-child(1) {
	background-color: var(--blue-primary);
}
.score:nth-child(2) {
	background-color: var(--light-primary);
}
.score:nth-child(3) {
	background-color: var(--yellow-primary);
}

/* Banner */

.banner-container {
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 50%);
}

.banner-wrapper {
	height: 266px;
}

.banner-win-loss-text {
	margin-bottom: 16px;
}

.banner-no-win-text {
	margin-bottom: 7px;
}

.banner-btns div {
	height: 52px;
	margin-top: 24px;
}

.banner-btns div button {
	margin: 0 0.5rem;
	padding: 0 16px 0.125rem;
}
